.flex-col {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-top: 20px;
}

.category-form {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.create-group-form {
  width: 50%;
}

.add-user {
  width: 50%;
}

.new-group-page {
  display: flex;
  gap: 100px;
}

.add-user-header {
  margin-bottom: 30px;
}

.add-user-form {
  display: flex;
  height: 40px;
  align-items: center;
}